*
{
    
font-family: 'arialblack';
    color:white

}

h1
{
    font-size: 5em;
    text-align:center;
    text-decoration-line:underline; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    border: 0.188em, solid;
    color:#a1d4f1
}





em
{
    color: red;
    
}


p
{
  font-size: x-large;
}



.Manu
{
    
    font-size: 5em;
    color:red;


}




.exemple

{

      color: green;
      font-family:sans-serif;
}  
   


.fleche-gauche
{
 
    font-weight:bold;

}




.classe
{ 
    text-decoration-line:underline;
    font-weight:bold;
    color:gold;

}

body

{
    background-color:#243846;
    text-align:left;
    opacity:0.9;
}


.honte
{ 

    float:right
}


.NOTE_OSS_1, .NOTE_OSS_2

{ 
    font-size: xx-large

}


.Le_Top_2, ul

{
    text-align:left;
    font-size: 2,5em;
    text-decoration-line:underline;
    color:#E85109
}

.Le_top_1

{
text-align:left;
font-size: xx-large;
color:#E85109;

}

.Mon_Avis_ancre

{ 
    font-size: xx-large;
    color:#E85109;

}


.Mon_Avis2
{
    font-size: 2.5em;
    color:#E85109;
    text-decoration-line:underline;
}



.Sommaire

{
    text-decoration-line:underline;
    font-size:4.375em;
    color:#E85109
}
